.hamburger__container
  #hamburger-menu
    span

  ul.menu__burger#menu__burger
    li.menu__item
      a.menu__item-link(href="#") First
    li.menu__item
      a.menu__item-link(href="#") Second
    li.menu__item
      a.menu__item-link(href="#") Third
    li.menu__item
      a.menu__item-link(href="#") Forth 