.tab
  ul.tab__navbar

  ul.tab-content__container
    li.tab-content
      h3.tab-content__title London
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam nostrum, omnis quisquam exercitationem nisi beatae, iure quas distinctio dolor enim mollitia ducimus quos possimus minima cupiditate totam? Maxime, itaque.

    li.tab-content
      h3.tab-content__title Austria
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam nostrum, omnis quisquam exercitationem nisi beatae, iure quas distinctio dolor enim mollitia ducimus quos possimus minima cupiditate totam? Maxime, itaque.

    li.tab-content
      h3.tab-content__title Moscow
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam nostrum, omnis quisquam exercitationem nisi beatae, iure quas distinctio dolor enim mollitia ducimus quos possimus minima cupiditate totam? Maxime, itaque.
      