.page__navigation
  h3.navigaiton__title Contetns
  ul.navigation__links
    li.navigation__link
      a(href="#") Title

    li.navigation__link
      a(href="#") Body

    li.navigation__link
      a(href="#") News

    li.navigation__link
      a(href="#") About
