nav.navbar
    a.navbar__logo.navbar__logo-link(href="#") Title

    ul.navbar__menu
      li.menu__item
        a.menu__item-link(href="#") Python
      li.menu__item
        a.menu__item-link(href="#") SASS
      li.menu__item
        a.menu__item-link(href="#") PUG
      li.menu__item
        a.menu__item-link(href="#") JS